<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-106">
    <div class="cs-container">
        <div class="cs-top">
            <a href="" class="cs-logo" aria-label="back to home">
                <img src="/assets/svgs/FISH Logo.svg" alt="logo" width="197" height="43" aria-hidden="true" decoding="async">
            </a>
            <ul class="cs-ul">
                <li class="cs-li">
                    <a href="" class="cs-link active">Home</a>
                </li>
                <li class="cs-li">
                    <a href="" class="cs-link">About</a>
                </li>
                <li class="cs-li">
                    <a href="" class="cs-link">Thesis</a>
                </li>
                <li class="cs-li">
                    <a href="" class="cs-link">Contact</a>
                </li>
            </ul>
        </div>
        <div class="cs-bottom">
            <span class="cs-copyright">© 2025 Copyright</span>
            <a class="cs-social-link" aria-label="visit google profile" href="" target="_blank" rel="noopener">
                <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/linkedin.svg" alt="linkedin logo" width="11" height="11">
            </a>
            <a class="cs-social-link" aria-label="visit facebook profile" href="" target="_blank" rel="noopener">
                <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/logo.svg" alt="x logo" width="6" height="11">
            </a>
            <a class="cs-social-link" aria-label="visit instagram profile" href="" target="_blank" rel="noopener">
                <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/instagram.svg" alt="instagram" width="11" height="11">
            </a>
        </div>
        <p class="cs-text">
            Made With ❤️ by Iron Key Capital
        </p>
    </div>
</footer>
                                