// ─────────────────────────────────────────────────────────────────────────────
// CODESTITCH GLOBAL STYLES
// Core stylesheet containing CSS variables, dark mode styles, base element
// styling, typography rules, utility classes, component styles, navigation,
// footer, and other repeated section styles for the entire site
// ─────────────────────────────────────────────────────────────────────────────

/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/

/* CodeStitch Core Styles + Reset */
@media only screen and (min-width: 0rem) {
    /* All elements in the library derive their variables and base styles from this central sheet, simplifying site-wide edits. For instance, if you want to modify how your h2's appear across the site, you just update it once in the global styles, and the changes apply everywhere. */
    :root {
        --primary: hwb(265 13% 7%);
        --primaryLight: #0B0316;
        --secondary: #4A86E8;
        --secondaryLight: #05080F;
        --headerColor: #ffffff;
        --bodyTextColor: #ffffff;
        --bodyTextColorWhite: #ffffff;

        /* Dark Mode Styles */
        --dark: #082032;
        --medium: #2c394b;
        --accent: #334756;

        /* 13px - 16px */
        --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
        /* 31px - 49px */
        --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
        --bodyFontSize: 1rem;
        /* 60px - 100px top and bottom */
        --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;

        --headerFont: "Circular Bold", Arial, sans-serif;
        --bodyFont: "DM Mono", Arial, sans-serif;
    }

    html,
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        font-family: var(--bodyFont);
        font-size: 100%;
        transition: background-color 0.3s;
        color: var(--bodyTextColor);
        background-color: #0B0316;
    }

    *,
    *:before,
    *:after {
        /* prevents padding from affecting height and width */
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .cs-topper {
        font-size: var(--topperFontSize);
        line-height: 1.2em;
        text-transform: uppercase;
        text-align: inherit;
        letter-spacing: 0.1em;
        font-weight: 700;
        color: var(--primary);
        margin-bottom: 0.25rem;
        display: block;
        font-family: "Circular Bold";
        text-shadow:
                0 0 1px #ffffff21,
                0 0 1px #ffffff21,
                0 0 1px #ffffff21,
                0 0 1px #ffffff21;
    }

    .cs-title {
        font-size: var(--headerFontSize);
        font-weight: 900;
        line-height: 1.2em;
        text-align: inherit;
        max-width: 43.75rem;
        margin: 0 0 1rem 0;
        color: var(--headerColor);
        position: relative;
        font-family: "Circular Bold";
    }

    .cs-text {
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        text-align: inherit;
        width: 100%;
        max-width: 40.625rem;
        margin: 0;
        color: var(--bodyTextColor);
        font-family: "DM Mono";
    }
}

/* Components + Utilities */
@media only screen and (min-width: 0rem) {
    // Hidden screen reader skip nav button
    .skip {
        z-index: -1111111;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }

    // Buttons - can be replaced using CodeStitch's "Button" Stitches. Make sure to clear the default .cs-button-solid/outline styles from any new stitches you place.
    .cs-button-solid {
        z-index: 1;
        position: relative;
        display: inline-block;
        background-color: var(--primary);
        width: auto;
        padding: calc(16 / 16 * 1rem) calc(32 / 16 * 1rem);
        text-decoration: none;
        font-size: calc(16 / 16 * 1rem);
        line-height: calc(16 / 16 * 1em);
        font-weight: bold;
        border-radius: 10px;
        overflow: hidden;

        // Transition Properties
        color: var(--bodyTextColorWhite);
        transition: color 0.3s;
        transition-delay: 0.1s;
        text-align: center;

        &:hover {
            color: #fff;

            &:before {
                width: 100%;
            }
        }

        &:before {
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            opacity: 1;
            display: block;
            background-color: #000;
            height: 100%;

            //Transition properties
            width: 0;
            transition: width 0.3s;
        }
    }

    .cs-button-outline {
        z-index: 1;
        position: relative;
        display: inline-block;
        width: auto;
        padding: calc(16 / 16 * 1rem) calc(32 / 16 * 1rem);
        text-decoration: none;
        font-size: calc(16 / 16 * 1rem);
        line-height: calc(16 / 16 * 1em);
        font-weight: bold;
        border: 2px solid #000;

        // Transition Properties
        color: #000;
        transition: color 0.3s;
        transition-delay: 0.1s;
        text-align: center;

        &:hover {
            color: #fff;

            &:before {
                width: 100%;
            }
        }

        &:before {
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            opacity: 1;
            display: block;
            background-color: #000;
            height: 100%;

            //Transition properties
            width: 0;
            transition: width 0.3s;
        }
    }

    // Utilities - small classes useful in various common situations
    .cs-color {
        color: var(--primary);
    }

    .cs-bold {
        font-weight: 700;
    }

    .cs-hide-on-mobile {
        display: none !important;
    }

    .cs-dark,
    .dark {
        display: none !important;
    }

    body.dark-mode {
        .cs-light,
        .light {
            display: none !important;
        }

        .cs-dark,
        .dark {
            display: block !important;
        }

        .cs-button-outline {
            border-color: #fff;
            color: #fff;
        }
    }
}

/* Desktop Utilities */
@media only screen and (min-width: 64rem) {
    .cs-hide-on-mobile {
        display: block !important;
    }

    .cs-hide-on-desktop {
        display: none !important;
    }
}

/* Base Element Styles */
@media only screen and (min-width: 0rem) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--headerFont);
        line-height: 1.2em;
        color: var(--headerColor);
    }

    p,
    li,
    a {
        font-size: calc(16 / 16 * 1rem);
        line-height: 1.5em;
    }

    p,
    li {
        color: var(--bodyTextColor);

        a {
            color: var(--primary);
        }
    }

    a,
    button {
        &:hover {
            cursor: pointer;
        }
    }

    body.dark-mode {
        background-color: #0B0316;

        p,
        li,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #fff;
        }
    }
}

/* Fonts */
@media only screen and (min-width: 0rem) {
    // Grab your fonts to locally host from https://gwfh.mranftl.com/fonts

    /* Circular Bold*/
    @font-face {
        font-style: normal;
        font-family: "Circular Bold";
        font-weight: 900;
        font-display: swap;
        src: local(""), url("/assets/fonts/circular-bold.ttf") format("truetype")
    }

    /* Circular Book*/
    @font-face {
        font-style: normal;
        font-family: "Circular Book";
        font-weight: 900;
        font-display: swap;
        src: local(""), url("/assets/fonts/circular-book.ttf") format("truetype")
    }

    /* DM Mono*/
    @font-face {
        font-style: normal;
        font-family: "DM Mono";
        font-weight: 900;
        font-display: swap;
        src: local(""), url("/assets/fonts/DMMono-Regular.ttf") format("truetype")
    }

    .cs-text {
        font-family: "DM Mono" !important;
    }
}

/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/

body,
html {
    /* reset margin and padding so there's no gap between the nav and the screen edges */
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
    body {
        
        &.cs-open {
            overflow: hidden;
            #cs-navigation {
                &:after {
                    width: 100%;
                    opacity: 1;
                }
            }
        }

        &.scroll {
            #cs-navigation {
                &:after {
                    width: 100%;
                }
            }
        }
    }

    #cs-navigation {
        width: 100%;
        /* prevents padding and border from affecting height and width */
        background-color: rgba(11, 3, 22, 0.5);
        border-bottom: 1px solid rgba(118, 32, 238, 0.5);
        box-sizing: border-box;   
        font-family: "Circular Book";  
        position: fixed;
        z-index: 10000;

        &:before {
            /* mobile nav overlay on open */
            content: "";
            width: 100%;
            height: 0vh;
            background: rgba(0, 0, 0, 0.6);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            position: absolute;
            display: block;
            top: 100%;
            right: 0;
            z-index: -1100;
            opacity: 0;
            transition:
                height 0.5s,
                opacity 0.5s;
        }

        &:after {
            /* on scroll overlay */
            content: "";
            width: 0%;
            height: 100%;
            background: #0B0316;
            opacity: 0.8;
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            z-index: -1;
            transition:
                width 0.3s,
                opacity 0.3s;
        }

        &.cs-active {
            button {
                background-color: var(--secondary);
                box-shadow: 0 0 4px var(--secondary);
            }

            .cs-ul-wrapper {
                opacity: 1;
                transform: scaleY(1);
                transition-delay: 0.15s;
            }

            .cs-li {
                transform: translateY(0);
                opacity: 1;
            }
        }

        .cs-container {
            width: 100%;
            padding: calc(16 / 16 * 1rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .cs-logo {
            width: calc(192 / 16 * 1rem);
            height: auto;
            margin: 0 auto 0 0;
            padding: 0;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 10;

            img {
                width: 100%;
                height: 100%;
                /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
                object-fit: contain;
            }
        }

        .cs-toggle {
            width: calc(56 / 16 * 1rem);
            height: calc(56 / 16 * 1rem);
            margin: 0 0 0 auto;
            background-color: #7620EE;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
        }

        .cs-active {

            .cs-line1 {
                top: 50%;
                transform: translate(-50%, -50%) rotate(225deg);
                background-color: #000;
            }

            .cs-line2 {
                top: 50%;
                transform-origin: center;
                transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
                background-color: #000;
            }

            .cs-line3 {
                bottom: 100%;
                opacity: 0;
            }
        }

        .cs-box {
            /* 24px - 28px */
            width: clamp(1.5rem, 2vw, 1.75rem);
            height: calc(16 / 16 * 1rem);
            position: relative;
        }

        .cs-line {
            width: 100%;
            height: 2px;
            border-radius: 2px;
            background-color: #fafbfc;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        .cs-line1 {
            top: 0;
            transform-origin: center;
            transition:
                transform 0.5s,
                top 0.3s,
                left 0.3s;
            animation-duration: 0.7s;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
            animation-direction: normal;
        }

        .cs-line2 {
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            transition:
                top 0.3s,
                left 0.3s,
                transform 0.5s;
            animation-duration: 0.7s;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
            animation-direction: normal;
        }

        .cs-line3 {
            bottom: 0;
            transition:
                bottom 0.3s,
                opacity 0.3s;
        }

        .cs-ul-wrapper {
            width: 100%;
            height: auto;
            padding-bottom: calc(48 / 16 * 1rem);
            opacity: 0;
            background-color: rgba(11, 3, 22);
            box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;
            overflow: hidden;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: -1;
            transform: scaleY(0);
            transform-origin: top;
            transition:
                transform 0.4s,
                opacity 0.3s;
        }

        .cs-ul {
            margin: 0;
            padding: calc(48 / 16 * 1rem) 0 0 0;
            width: 100%;
            height: auto;
            max-height: 65vh;
            overflow: scroll;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: center;
            gap: calc(20 / 16 * 1rem);
        }

        .cs-li {
            width: 100%;
            text-align: center;
            list-style: none;
            margin-right: 0;
            /* transition from these values */
            transform: translateY(-4.375rem);
            opacity: 0;
            transition:
                transform 0.6s,
                opacity 0.9s;

            &:nth-of-type(1) {
                transition-delay: 0.05s;
            }
            &:nth-of-type(2) {
                transition-delay: 0.1s;
            }
            &:nth-of-type(3) {
                transition-delay: 0.15s;
            }
            &:nth-of-type(4) {
                transition-delay: 0.2s;
            }
            &:nth-of-type(5) {
                transition-delay: 0.25s;
            }
            &:nth-of-type(6) {
                transition-delay: 0.3s;
            }
            &:nth-of-type(7) {
                transition-delay: 0.35s;
            }
            &:nth-of-type(8) {
                transition-delay: 0.4s;
            }
            &:nth-of-type(9) {
                transition-delay: 0.45s;
            }
            &:nth-of-type(10) {
                transition-delay: 0.5s;
            }
            &:nth-of-type(11) {
                transition-delay: 0.55s;
            }
            &:nth-of-type(12) {
                transition-delay: 0.6s;
            }
            &:nth-of-type(13) {
                transition-delay: 0.65s;
            }
        }

        .cs-li-link {
            /* 16px - 24px */
            font-size: clamp(1rem, 2.5vw, 1.5rem);
            line-height: 1.2em;
            text-decoration: none;
            margin: 0;
            color: var(--bodyTextColorWhite);
            display: inline-block;
            position: relative;

            &.cs-active {
                color: var(--secondary);
            }

            &:hover {
                color: var(--secondary);
            }
        }

        .cs-button-solid {
            display: none;
        }
    }
} 

@media only screen and (min-width: 48rem) {
    #cs-navigation {
        .cs-logo {
            justify-content: left;
        }

        .cs-logo img {
            width: 47%;
        }
    }
}

/*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    body {
        &.scroll {
            #cs-navigation {
                &:after {
                    height: 100%;
                }
            }
        }
    }

    #cs-navigation {
        width: 100%;
        padding: 0;
        /* prevents padding and border from affecting height and width */
        font-family: "Circular Book";  
        background-color: rgba(11, 3, 22, 0.5);
        border-bottom: 1px solid rgba(118, 32, 238, 0.5);
        box-sizing: border-box;
        position: fixed;
        z-index: 10000;

        &:after {
            /* on scroll overlay */
            content: "";
            width: 100%;
            height: 0%;
            background: rgba(11, 3, 22, 0.5);
            opacity: 0.8;
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            z-index: -1;
            transition:
                height 0.3s,
                opacity 0.3s;
        }

        .cs-container {
            width: 100%;
            /* same height as the cs-ul-wrapper */
            height: calc(93 / 16 * 1rem);
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            padding: 0 calc(16 / 16 * 1rem);
            /* prevents padding from affectin gheight */
            box-sizing: border-box;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: calc(24 / 16 * 1rem);
            position: relative;
        }

        .cs-toggle {
            display: none;
        }

        .cs-logo {
            width: 18.4%;
            max-width: calc(197 / 16 * 1rem);
            height: calc(60 / 16 * 1rem);
            /* margin-right auto pushes everything away from it to the right */
            margin: 0 auto 0 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 100;

            img {
                width: 100%;
                height: 100%;
                /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
                object-fit: contain;
            }
        }

        .cs-ul-wrapper {
            /* absolutely positioned to be dead center */
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .cs-ul {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            /* 20px - 36px */
            gap: clamp(1.25rem, 2.6vw, 2.25rem);
        }

        .cs-li {
            list-style: none;
            padding: calc(36 / 16 * 1rem) 0;
            /* prevent flexbox from squishing it */
            flex: none;
        }

        .cs-li-link {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 0.6vw, 1rem);
            line-height: 1.5em;
            text-decoration: none;
            margin: 0;
            color: var(--bodyTextColorWhite);
            display: block;
            position: relative;
            transition: color 0.3s;

            &:before {
                content: "";
                width: 0%;
                height: 1px;
                background: currentColor;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: -2px;
                left: 0;
                transition: width 0.3s;
            }

            &:hover {
                color: var(--secondary);
                &:before {
                    width: 100%;
                    transition: 0.3s;
                }
                text-shadow: 0 0 1px #4A86E8,   /* soft glow */
                    0 0 1px #4A86E8;
            }

            &.cs-active {
                color: var(--primary);
                &:before {
                    width: 100%;
                }

                &:hover {
                    color: var(--secondary);
                    transition: 0.3s;
                    text-shadow: 0 0 1px #4A86E8,   /* soft glow */
                    0 0 1px #4A86E8;
                }
            }
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(32 / 16 * 1rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            transition: color 0.3s;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #4A86E8;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                box-shadow: 0 0 4px #4A86E8;
                color: #1a1a1a;
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-nav-button {
            line-height: calc(46 / 16 * 1rem);
        }
    }
}

/*-- -------------------------- -->
<---           Footer           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cs-footer-106 {
        padding: calc(40 / 16 * 1rem) calc(16 / 16 * 1rem) calc(20 / 16 * 1rem);
        background: #0B0316;
        border-top: solid 1px var(--primary);

        .cs-container {
            width: 100%;
            max-width: calc(1080 / 16 * 1rem);
            margin: auto;
        }

        .cs-top {
            display: block; /* Stack vertically on mobile */
            text-align: center;
        }

        .cs-logo {
            padding: 0;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1.5em;

            img {
                width: 11em;
                height: 100%;
                object-fit: contain;
            }
        }

        .active {
            color: var(--primary) !important;
            font-size: 1.1em !important;
            text-shadow:
                0 0 1px #ffffff21,
                0 0 2px #ffffff21,
                0 0 3px #ffffff21,
                0 0 1px #ffffff21;
        }

        .cs-ul {
            padding: 0 0 calc(40 / 16 * 1rem);
            margin: auto;
            border-bottom: 1px solid #eff0f6;
            font-family: "Circular Bold";
        }

        .cs-li {
            list-style: none;
            text-align: center;
            margin-bottom: calc(20 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: 0;
            }
        }

        .cs-link {
            font-size: clamp(0.9375rem, 2vw, 1.0625rem);
            line-height: 1.5em;
            text-decoration: none;
            font-weight: 700;
            color: var(--bodyTextColorWhite);
            position: relative;
            transition: 0.3s ease;

            &:hover {
                color: var(--secondary) !important;
                text-shadow:
                    0 0 1px #ffffff21,
                    0 0 2px #ffffff21,
                    0 0 3px #ffffff21,
                    0 0 1px #ffffff21;
                transition: 0.3s ease;
                &:before {
                    width: 100%;
                }
            }

            &:before {
                content: "";
                width: 0%;
                height: calc(3 / 16 * 1rem);
                background: var(--secondary);
                opacity: 1;
                position: absolute;
                display: block;
                bottom: calc(-2 / 16 * 1rem);
                left: 0;
                text-shadow:
                    0 0 1px #ffffff21,
                    0 0 2px #ffffff21,
                    0 0 3px #ffffff21,
                    0 0 1px #ffffff21;
                transition: 0.3s ease;
            }
        }

        .cs-bottom {
            margin-top: calc(20 / 16 * 1rem);
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        .cs-copyright {
            font-size: calc(15 / 16 * 1rem);
            text-align: center;
            color: #fff;
            display: block;
            margin: 0 auto 0 0;
        }

        .cs-social-link {
            width: calc(20 / 16 * 1rem);
            height: calc(20 / 16 * 1rem);
            margin-left: calc(12 / 16 * 1rem);
            background: var(--primary);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                height: calc(11 / 16 * 1rem);
                width: auto;
            }
        }

        .cs-text {
            margin-top: 1.5em;
            text-align: center;
            font-size: 0.8em;
            color: var(--secondary);
        }
    }
}

/* Tablet & Desktop - 700px+ */
@media only screen and (min-width: 43.75rem) {
    #cs-footer-106 {
        .cs-top {
            display: flex;
            flex-direction: row; /* Keep normal row order in HTML */
            justify-content: space-between; /* Push first and last items apart */
            align-items: center;
            border-bottom: solid 1px #fff;
            padding-bottom: 1em;
        }

        .cs-text {
            margin: 0 auto;
        }

        /* Keep menu on left, logo on right */
        .cs-ul {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding: 0;
            margin: 0;
            border-bottom: none;
            order: 1; /* Menu first */
        }

        .cs-li {
            width: 5em;
            margin: 0 clamp(1.5rem, 3vw, 2.5rem) 0 0;
            &:last-of-type {
                margin: 0;
            }
        }

        .cs-logo {
            width: 11em;
            margin-bottom: 0;
            order: 2; /* Logo last */
        }
    }
}

@media only screen and (min-width: 48rem) {
    #cs-footer-106 {
        .cs-logo img {
            margin-right: -50%;
        }
    }
}

@media only screen and (min-width: 64rem) {
    #cs-footer-106 {
        .cs-logo img {
            margin-right: -70%;
        }
    }
}